@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;

}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
    /* border: 2px solid #7cf03d;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #000; */

}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;

}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size: 32px;
    margin-top: -10px;
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 15px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #1f242d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    background-color: #7cf03d;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    font-size: 20px;
    margin-left: 15px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    color: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #1f242d;
}

.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    /* background-color: red; */
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);

}

.home-img .img-box .img-item{
    position: relative;
     width: 100%;
     height: 100%;
     border: .5px solid #1f242d;
     background: #1f242d;
     border-radius: 50%;
     display: flex;
     z-index: 1;
     justify-content: center;
     overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    top: 35px;
    left: 25px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: 2px solid #fff;
    transform: translateY(-100%);
    animation: show-bars;
}

@keyframes show-bars {
    100% {
    transform: translateY(0%);
       
    }
}